<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <logistix>
                <model>Icube\Logistix\Model\Carrier\Logistix</model>
                <title>Logistix</title>
                <name>Logistix</name>
            </logistix>
        </carriers>
    </default>
</config>
